<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.personalmanagementsystem.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.neuedu.personalmanagementsystem.entity.Department">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="deptno" jdbcType="INTEGER" property="deptno" />
    <result column="deptname" jdbcType="VARCHAR" property="deptname" />
    <result column="loc" jdbcType="VARCHAR" property="loc" />
  </resultMap>
  <sql id="Base_Column_List">
    id, deptno, deptname, loc
  </sql>
  <select id="selectByPrimaryKey" parameterType="Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer">
    delete from department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neuedu.personalmanagementsystem.entity.Department">
    insert into department (id, deptno, deptname, 
      loc)
    values (#{id,jdbcType=INTEGER}, #{deptno,jdbcType=INTEGER}, #{deptname,jdbcType=VARCHAR}, 
      #{loc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.personalmanagementsystem.entity.Department">
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deptno != null">
        deptno,
      </if>
      <if test="deptname != null">
        deptname,
      </if>
      <if test="loc != null">
        loc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deptno != null">
        #{deptno,jdbcType=INTEGER},
      </if>
      <if test="deptname != null">
        #{deptname,jdbcType=VARCHAR},
      </if>
      <if test="loc != null">
        #{loc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neuedu.personalmanagementsystem.entity.Department">
    update department
    <set>
      <if test="deptno != null">
        deptno = #{deptno,jdbcType=INTEGER},
      </if>
      <if test="deptname != null">
        deptname = #{deptname,jdbcType=VARCHAR},
      </if>
      <if test="loc != null">
        loc = #{loc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neuedu.personalmanagementsystem.entity.Department">
    update department
    set deptno = #{deptno,jdbcType=INTEGER},
      deptname = #{deptname,jdbcType=VARCHAR},
      loc = #{loc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>